Diagnostics:
  UnusedIncludes: None
  # IgnorePatterns: ["main file cannot be included recursively when building a preamble"]
CompileFlags:
  Add: [-Wno-format,-I//opt/gcc-arm-none-eabi-9-2020-q2-update/arm-none-eabi/include/,
    -I//home/shinuohui/code/UCOSII/Trace/SystemView/Source,
    -I//home/shinuohui/code/UCOSII/Trace/SystemView/ThirdPartyLibrary/Config,
    -I//home/shinuohui/code/UCOSII/Trace/SystemView/ThirdPartyLibrary/SEGGER,
    -I//home/shinuohui/code/UCOSII/Trace/SystemView/Cfg/Template
  ]
  Compiler: /opt/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi/bin/arm-none-eabi-gcc